.alert-box {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.alert-box span{
  display: block;
}

.alert-box span.title {
  font-size: 28px;
  font-weight: bold;
  color: #1977d9;
  line-height: 29px;
}
.alert-box span.message {
  font-size: 14px;
  margin: 20px;
}
.alert-box .actions {
  display: block !important;
  text-transform: uppercase;
}
.alert-box .actions button {
  text-transform: uppercase;
}

.alert-box .icon {
    width: 100px;
    height: 100px;
    background: red;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: 20px auto;
}
