.btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff !important;
  cursor: pointer;
  text-align:center;
  border: none !important;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 10px 20px;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn:focus {
    outline: none;
}

.btn.sh-primary-btn {
    background-image: linear-gradient(to right, rgba(91,213,251,1), rgba(12,101,211,1), rgba(12,101,211,1), rgba(91,213,251,1));
    /* linear-gradient(to right, rgba(91,213,251,1) 0%,  rgba(12,101,211,1) 100%); */
}

.btn.sh-secondary-btn {
  color: rgba(12,101,211,1) !important;
  border: 1px solid rgb(12, 101, 211) !important;
}

.btn.sh-secondary-btn:hover {
  background: transparent !important;
}

.btn.sh-tertiary-btn {
    color: gray !important;
    float: left;
}


.btn.sh-tertiary-btn:hover {
    background: transparent !important;
    opacity: 0.7;
}

.btn.sh-tertiary-btn i {
    font-size: 17px;
}
