.sh-form {

}

#shwcf .tabs {
  margin: 0;
  padding: 10px 1px 0;
  overflow: hidden;
  margin-bottom: -1px;
}

#shwcf .tabs .tab {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;

}

#shwcf .tabs .tab.selected {
  z-index: 3;
}

#shwcf .tabs .tab span {
  float: left;
  background: #F2F3F6;
  border-bottom: 0;
  padding: 10px 35px;
  font-size: 14px;
  color: #1F3050;
  text-decoration: none;
  transition: background ease-in-out 0.5s;
  behavior: url(/pie/PIE.htc);
}

#shwcf .tabs .tab.selected span {
  background: #FFF;
  font-weight: bold;
  border: 1px solid #F2F3F6;
  border-bottom: 0px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#shwcf .content {
  clear: left;
  position: relative;
  z-index: 2;
  border: 1px solid #F2F3F6;
  background: #FFF;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  behavior: url(/pie/PIE.htc);
}

#shwcf .tabs .tab.last {
  float: right;
}

#shwcf .tabs .tab.last span {
  padding: 10px 0px;
  background: #fff;
}

#shwcf a.cancel {
  color: #B3002C;
  font-weight: bold;
  font-size: 14px;
}

#shwcf .content .step {
  display: none;
  transition: display ease-in-out 0.5s;
}

#shwcf .content .step.active {
  display: block;
}

#shwcf .content .step .headline {
  padding: 20px 35px;
  border-bottom: 1px solid #F2F3F6;
  margin-bottom: 20px;
}

#shwcf .content .step .headline span {
  color: #1F3050;
}

#shwcf form .group {
  padding: 20px 35px;
  color: #1F3050;
}

#shwcf form label {
  font-size: 13px;
}

#shwcf form input {
  border: .06em solid #ECECEC;
  margin-top: 10px;
  border-radius: 0.5em;
  background: #fff;
  font-size: 13px;
  height: 4em;
}

#shwcf form .group .field {
  margin-bottom: 20px;
}

#shwcf form .group .field .select .dropdown-el {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 3em;
  max-height: 3em;
  overflow: hidden;
  top: .5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: .06em solid #ECECEC;
  border-radius: 0.5em;
  background-color: transparent;
  transition: 0.3s all ease-in-out;
}
#shwcf form .group .field .select .dropdown-el input:focus + label {
  background: #def;
}
#shwcf form .group .field .select .dropdown-el input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
#shwcf form .group .field .select .dropdown-el label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 3.5em;
  line-height: 3em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}
#shwcf form .group .field .select .dropdown-el label:nth-child(2) {
  margin-top: 3em;
  border-top: .06em solid transparent;
}
#shwcf form .group .field .select .dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
  width: 100%;
}
#shwcf form .group .field .select .dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
#shwcf form .group .field .select .dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 1.2em;
  border: 0.4em solid #1F3050;
  border-color: #1F3050 transparent transparent transparent;
  transition: .4s all ease-in-out;
}
#shwcf form .group .field .select .dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: .25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}
#shwcf form .group .field .select .dropdown-el.expanded label {
  border-top: .06em solid #d9d9d9;
}
#shwcf form .group .field .select .dropdown-el.expanded label:hover {
  color: #3694d7;
}
#shwcf form .group .field .select .dropdown-el.expanded input:checked + label {
  color: #3694d7;
}
#shwcf form .group .field .select .dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: .55em;
}

#shwcf form .actions {
  padding: 20px 35px;
  border-top: 1px solid #F2F3F6;
  text-align: right;
}

#shwcf form .group .field.themes {
  display: grid;
  grid-template-columns: 22.75% 22.75% 22.75% 22.75%;
  grid-gap: 3%;
}

#shwcf form .group .field.themes .theme {
    min-height: 300px;
    background-size: cover !important;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

#shwcf form .group .field.themes .theme label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  min-height: 300px;
  background-size: cover !important;
  z-index: 1;
  border: 3px solid transparent;
}

#shwcf form .group .field.themes .theme input {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

#shwcf form .group .field.themes .theme input:active+.preview {
  border-color: rgba(12,101,211,1);
}

#shwcf form .group .field.themes .theme input:checked+.preview {
  border-color: rgba(12,101,211,1);
}

#shwcf form .group .field.themes .theme .name {
  position: absolute;
  z-index: 3;
  display: block;
  bottom: 3px;
  width: 97.2%;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  background: #fff;
  left: 3px;
  font-weight: bold;
  color: #136ed6;
}

#shwcf form  .alert {
    font-size: 11px;
    color: red;
    display: none;
    padding: 5px 0;
}

#shwcf form  .alert.active {
  display: block;
}

#shwcf form .actions {
  display: none;
}

#shwcf form .actions.active {
  display: block;
}

.loader {
  width: 300px;
  margin: 50px auto;
}
.loader span {
  display: block;
  text-align: center;
  font-size: 11px;
  color: #939393;
}
.loader span.title {
  font-weight: bold;
  font-size: 15px;
  margin-top: 25px;
  color: #116cd6;
}

#shwcf form .group .field.themes .theme .name span {
    display: block;
    font-size: 9px;
    color: gray;
    font-weight: 300;
}
