/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .sh-admin {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

 .sh-admin .form-group.repeater {
  overflow: auto;
  border: 1px solid #0073aa;
}
 .sh-admin .form-group.repeater .header {
  display: flex;
  padding: 10px 20px;
  background: #0073aa;
  font-size: 13px;
  color: #fff;
}
 .sh-admin .form-group.repeater .header span.preview,  .sh-admin .form-group.repeater .row fieldset.preview {
  width: 25%;
}
 .sh-admin .form-group.repeater .header span.name,  .sh-admin .form-group.repeater .row fieldset.name {
  width: 25%;
}

.sh-admin .form-group.repeater .header span.url,  .sh-admin .form-group.repeater .row fieldset.url {
 width: 50%;
}

 .sh-admin .form-group.repeater .row {
   display: none;
   padding: 0px;
 }

 .sh-admin .form-group.repeater .row.visible {
   display: flex;
   padding: 20px;
 }

 .sh-admin .form-group.repeater .row:nth-child(2n+1) {
    background: #0073aa14;
}

 .sh-admin .form-group.repeater .row fieldset input {
   width: 90%;
 }

  .sh-admin .form-group.repeater .row fieldset .misha-rmv {
    display: block;
    color: red;
}

  .sh-admin .form-group.repeater .row fieldset.preview a img {
    height: 95px;
}


.add-theme {
  float: right;
  padding: 7px 20px;
  border: 1px solid #007cba;
  border-radius: 2px;
  margin-top: 20px;
  cursor: pointer;
}
.add-theme:hover {
  background: #007cba17;
}


.form-group.settings fieldset {
  display: flex;
  border-bottom: 1px solid #ebf4f8;
  padding: 20px 0px;
}
.form-group.settings fieldset p {
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 20%;
}
.form-group.settings fieldset input {
  width: 60%;
}

.form-group.settings fieldset .preview-wrapper {
    width: 150px;
    height: 150px;
}

.preview-wrapper img {
    width: 100%;
}
